# C cross-compile to Arm (32-bit), no-OS, EABI.
# Do not link, only the .o files are of interest
cpu:arm
os:any
cc:gcc
# arm.any.gcc.exe is defined in arm_sandbox.nimble in "task cross"
arm.any.gcc.options.always="-w -fmax-errors=4 -mthumb" # -mcpu=cortex-m4"
nimcache:"build/nimcache"
noLinking
#opt:size

# Nim-compiler options for deeply-embedded targets:
mm:arc
panics:on   # requires local panicoverride.nim
threads:off
stacktrace:off
profiler:off
checks:off
assertions:off
stackTrace:off
lineTrace:off
exceptions:goto
define:noSignalHandler
define:nimAllocPagesViaMalloc   # requires mm:arc or mm:orc
define:nimPage512
define:nimMemAlignTiny
